---
import fs from 'fs';
const pages = fs.readdirSync('./src/pages/posts').length;

import Nav from './Nav.astro';
import Footer from './Footer.astro';
import BlogNav from './BlogNav.jsx';
import Tags from './Tags.astro';


import "~/styles/global.css";
import "~/styles/blog.css";

const { content } = Astro.props;
const tags = content.tags.split(', ');
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{content.title}</title>
  <meta name="description" content={content.description}>
</head>
<body class="blog flex flex-col morePadding min-h-screen">
    <Nav />
    <section class="postSect">
        <div class="contain">
            <p class="date">{content.date}</p>
            <slot />
            <Tags tags={tags} />
        </div>
        <BlogNav current={content.id} pages={pages} client:load/>
    </section>
    <Footer />
</body>
</html>